
/* Import de la police du site */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

:root {
    --red: #FF4554;
    --yellow: #FFC107;
    --gray-light: #EAECF4;
    --gray: #D5D8E5;
    --white: #FFF;
}

html {
    font-size: 62.5%;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    overflow-y: overlay;
}

body {
    background-color: var(--white);
    display: flex;
    position: relative;
    font-family: 'Noto Sans', sans-serif;
}

.addFluxOverlay {
    position: fixed;
    height: 100%;
    width: 0;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.2);
    overflow-x: hidden;
}

.addFluxBox {
    position: fixed;
    width: 0;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-x: hidden;

    background-color: var(--gray-light);
    padding: 1rem;
    display: none;
    column-gap: 1.5rem;
    width: fit-content;
    transition: .3s ease;
}

.addFluxOverlay_box_inputText {
    border: 0;
    -webkit-appearance: none;
    font-family: inherit;
    font-weight: bold;
    font-size: 1.6em;
}

.addFluxOverlay_box_inputText:focus {
    border: 0;
    outline-width: 0;
}


/* //////////////// */
/*      Header      */
/* //////////////// */

/* NAVBAR */

.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    width: 7.5rem;
    height: 100vh;
    background-color: var(--gray-light);
    overflow-y: scroll;
}

.navbar::-webkit-scrollbar {
    display: none;
}

.nav_igLogo {
    height: 4.8rem;
    width: 4.8rem;
    margin-top: 1.6rem;
    margin-bottom: 6rem;
    cursor: pointer;
    -webkit-user-drag: none;
}

.nav_rssSection_list {
    display: flex;
    flex-direction: column;
    row-gap: 1.6rem;
}

.nav_rssSection_list_li {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.8rem;
    cursor: pointer;
}

.nav_rssSection_list_li_plus {
    font-size: 6.4em;
    margin-bottom: 2.4rem;
    -webkit-user-drag: none;
}

.nav_rssSection_list_li_fluxLogo {
    height: 4.8rem;
    width: 4.8rem;
    filter: brightness(.5);
    -webkit-user-drag: none;
    /* animation: .3s slidein; */
}

.nav_rssSection_list_li_fav {
    cursor: pointer;
    animation: .3s slidein;
    -webkit-user-drag: none;
}



/* //////////////// */
/*      MAIN        */
/* //////////////// */

/* TOP */

.main {
    padding: 1.6rem;
    margin-left: 7.5rem;
    width: calc(100% - 1rem);
}

.main_top {
    display: flex;
    justify-content: center;
    column-gap: 1.6rem;
    flex-wrap: wrap;
    row-gap: 1.6rem;
    margin-bottom: 1.6rem;
}

.main_top_fav, .main_top_sort {
    width: 4.8rem;
    height: 4.8rem;
    cursor: pointer;
    -webkit-user-drag: none;
}

.main_top_sort {
    transition: .3s;
    transition-timing-function: ease;
}

.main_top_categoryBox {
    background-color: var(--gray-light);
    padding: 1rem;
    column-gap: 1.5rem;
    flex: auto;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    max-width: 35.2rem;
}

.main_top_categoryBox_arrow {
    transform: rotate(90deg);
    height: 2.0rem;
    -webkit-user-drag: none;
    transition: .3s;
    transition-timing-function: ease;
}

.main_top_categoryBox_text {
    font-size: 2.4em;
    text-transform: uppercase;
    font-weight: bold;
}

.main_top_categoryBox_list {
    display: none;
    position: absolute;
    width: 100%;
    background-color: var(--gray-light);
    z-index: 1;
    left: 0;
    top: 5.3rem;
    flex-direction: column;
}

.main_top_categoryBox_list_li_text {
    font-size: 2.4em;
    text-transform: uppercase;
    width: 100%;
}

.main_top_categoryBox_list_li {
    padding: 1rem;
}

.main_top_searchbarBox {
    background-color: var(--gray-light);
    padding: 1rem;
    column-gap: 1.5rem;
    width: 100%;
    display: flex;
    max-width: 50rem;
}

.main_top_searchbarBox_search {
    border: 0;
    -webkit-appearance: none;
    width: 100%;
    font-family: inherit;
    font-weight: bold;
    font-size: 1.6em;
}

.main_top_searchbarBox_search:focus {
    border: 0;
    outline-width: 0;
}

.main_top_searchbarBox_button {
    cursor: pointer;
    -webkit-user-drag: none;
}

/* LISTE D'ARTICLES */

.itemSection_info {
    font-size: 1.6em;
    text-align: center;
    width: 100%;
}

.itemSection_logoBig {
    min-width: 20rem;
    width: 50%;
    max-width: 66rem;
    margin-left: auto;
    margin-right: auto;
    -webkit-user-drag: none;
}

.itemSection_list {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    row-gap: 3rem;
    column-gap: 3rem;
}

.itemSection_list_li * {
    width: 100%;
}

.itemSection_list_li_img {
    max-width: 100%;
    -webkit-user-drag: none;
}

.itemSection_list_li_title {
    font-size: 2.0em;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: .5rem;
}

.itemSection_list_li_date {
    font-size: 1.2em;
    opacity: 60%;
}

.itemSection_list_li_desc {
    margin-top: 1rem;
    font-size: 1.6em;
}



/* ************* */
/* MEDIA QUERIES */
/* ************* */

/* écran > 640px */
@media (min-width: 40rem) {

    .navbar {
        width: 12rem;
    }

    .nav_igLogo {
        width: 7rem;
        height: 7rem;
    }

    .nav_rssSection_list_li {
        flex-direction: row;
        column-gap: 1rem;
        align-self: center;
    }

    .main {
        margin-left: 19vw;
    }

    .main_top {
        justify-content: flex-start;
    }

    .itemSection_list_li * {
        row-gap: 6rem;
        max-width: 35rem;
    }

    .itemSection_list_li_img {
        height: 25rem;
        object-fit: cover;
    }

    /* HOVERS */
    .addFluxOverlay_box_addButton:hover {
        cursor: pointer;
        -webkit-user-drag: none;
    }

    .nav_rssSection_list_li_fluxLogo:hover {
        animation: 1s ease-in infinite alternate hovering;
    }

    .main_top_categoryBox_list_li:hover {
        background-color: var(--gray);
    }

    .itemSection_list_li_link:hover {
        color: var(--red);
    }

    /*      /!\      */
    /* NE MARCHE PAS */
    /* .itemSection_list_li_linkImg:hover + .itemSection_list_li_link {
        color: var(--red);
    } */
}

/* écran > 1000px */
@media (min-width: 62.5rem) {
    .main {
        margin-left: 19rem;
    }
}


/* ANIMATIONS */

@keyframes slidein {
    from { transform: scale(0); }
    to   { transform: scale(1); }
}

@keyframes hovering {
    0% { transform: scale(1);}
    100% { transform: scale(1.1);}
}

/* STYLE SCROLLBAR */

::-webkit-scrollbar {
    background-color: var(--white);
}

::-webkit-scrollbar-thumb {
    background-color: var(--gray);
}